.Standing {
    width: 50%;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
}

.list {
    margin-bottom: 0px;
}

.noTopBorder {
    border-top-width: 0px;
}

.seed1 {
    background-color: lightblue;
}

.seed2-4{
    background-color: orange;
}

.seed5-7{
    background-color: lightgreen;
}

.standHead {
    background-color: #d3d3d3;
    padding-top: -10px;
}

.AFC{
    background-color: #D50A0A;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.NFC{
    background-color: #013369;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
