.Group {
    margin: 5px;
}

.HomeTeam-Button {
    background-color: green;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 2px;
    width: 100px;
}

.Tie-Button {
    background-color: white;
    color: black;
    border-width: 2px;
    width: 50px
}

.Tie-Button:hover {
    background-color: black;
    color: white;
}



.AwayTeam-Button {
    background-color: red;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 2px;
    width: 100px;
}
