.Standing {
    width: 50%;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
}

.list {
    margin-bottom: 4px;
}

.noTopBorder {
    border-top-width: 0px;
}

.seed1 {
    background-color: lightblue;
}

.seed2-4{
    background-color: #FFCCCB;
}

.seed5-7{
    background-color: lightgreen;
}

.standHead {
    background-color: #d3d3d3;
}
