.Standing {
    width: 50%;
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
}

.list {
    margin-bottom: 4px;
}

.label {
    margin-bottom: -10px;
}

.noTopBorder {
    border-top-width: 0px;
}
