.ARI {
    background-color: #97233F;
    border: 2px solid #000000;
}

.ATL {
    background-color: #A71930;
    border: 2px solid #000000;
}

.BAL {
    background-color: #241773;
    border: 2px solid #000000;
}

.BUF {
    background-color: #00338D;
    border: 2px solid #C60C30;
}

.CAR {
    background-color: #0085CA;
    border: 2px solid #101820;
}

.CHI {
    background-color: #0B162A;
    border: 2px solid #C83803;
}

.CIN {
    background-color: #FB4F14;
    border: 2px solid #000000;
}

.CLE {
    background-color: #311D00;
    border: 2px solid #FF3C00;
}

.DAL {
    background-color: #041E42;
    border: 2px solid #003594;
}

.DEN {
    background-color: #FB4F14;
    border: 2px solid #002244;
}

.DET {
    background-color: #0076B6;
    border: 2px solid #B0B7BC;
}

.GB {
    background-color: #203731;
    border: 2px solid #FFB612;
}

.HOU {
    background-color: #03202F;
    border: 2px solid #A71930;
}

.IND {
    background-color: #002C5F;
    border: 2px solid #A2AAAD;
}

.JAX {
    background-color: #006778;
    border: 2px solid #9F792C;
}

.KC {
    background-color: #E31837;
    border: 2px solid #FFB81C;
}

.LV {
    background-color: #000000;
    border: 2px solid #A5ACAF;
}

.LAC {
    background-color: #0080C6;
    border: 2px solid #FFC20E;
}

.LAR {
    background-color: #003594;
    border: 2px solid #FFA300;
}

.MIA {
    background-color: #008E97;
    border: 2px solid #FC4C02;
}

.MIN {
    background-color: #4F2683;
    border: 2px solid #FFC62F;
}

.NE {
    background-color: #002244;
    border: 2px solid #C60C30;
}

.NYG {
    background-color: #0B2265;
    border: 2px solid #A71930;
}

.NYJ {
    background-color: #125740;
    border: 2px solid #000000;
}

.NO {
    background-color: #D3BC8D;
    border: 2px solid #101820;
}

.PHI {
    background-color: #004C54;
    border: 2px solid #ACC0C6;
}

.PIT {
    background-color: #FFB612;
    border: 2px solid #101820;
}

.SF {
    background-color: #AA0000;
    border: 2px solid #B3995D;
}

.SEA {
    background-color: #002244;
    border: 2px solid #69BE28;
}

.TB {
    background-color: #D50A0A;
    border: 2px solid #34302B;
}

.TEN {
    background-color: #4B92DB;
    border: 2px solid #0C2340;
}

.WAS {
    background-color: #773141;
    border: 2px solid #FFB612;
}