.App {
  text-align: center;
}

.App-header {
  background-color: #013369;
  min-height: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  position: sticky;
  position: -webkit-sticky; 
  top: 0;
  z-index: 1;
}

.App-subheader {
  background-color: #D50A0A;
  min-height: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;

  padding: 4px;
}

.Body {
  margin-bottom: calc(4% + 0.1em);
}

.Body-Over {
  overflow-x: auto;
  overflow-y: hidden;
}

.md-Body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  height: 100%;
  left: 0px;
}

.App-Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.App-Body-Horizontal {
    flex-direction: row;
}

.mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-section {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
}

.App-Footer {
  background-color: #102321;
  color: white;
  align-self: flex-end;
  font-size: calc(10px + 2vmin);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.Collapse {
  width: 80%;
}

.Card {
  margin: 20px;
}

.md {
  text-align: left;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 1200px) {
  .App-Body{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
